.numeric-input {
  -moz-appearance: textfield;
}

.numeric-input::-webkit-outer-spin-button,
.numeric-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.numeric-input:focus {
  border: 1.5px solid var(--primary-light) !important;
  border-radius: 6px !important;
  opacity: 1 !important;
}

